@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

@media all and (max-width:1200px){
  html,body{
    overflow-x: visible;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.navBar{
  position: absolute;

height: 205px;
left: 0px;
top: 0px;

}

.Logo{
  position: absolute;
width: 152px;
height: 47px;
left: 94px;
top: 25px;

/* Heading/H3 Bold */

font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 39px;
line-height: 120%;
/* identical to box height, or 47px */

letter-spacing: 0.005em;

/* Light/Secondary Color/50% */

color: #F86338;
}



.CallCenterText{
  position: absolute;
width: 86px;
height: 19px;
left: 1040px;
top: 39px;

/* Body/Body 1 Semibold */
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 120%;
/* or 19px */

letter-spacing: 0.005em;

/* Light/Text Color/Title */

color: #11142D;

}

.phone{
  position: absolute;
width: 24px;
height: 24px;
left: 1008px;
top: 37px;

}

.vector{
  position: absolute;
left: 7.34%;
right: 7.42%;
top: 7.12%;
bottom: 7.33%;
}

.truck{
  position: absolute;
width: 24px;
height: 24px;
left: 1158px;
top: 37px;

}

.ship{
  position: absolute;
left: 8.33%;
right: 8.33%;
top: 16.67%;
bottom: 12.5%;
}

.shipText{
  position: absolute;
width: 146px;
height: 19px;
left: 1190px;
top: 39px;

/* Body/Body 1 Semibold */

font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 120%;
/* or 19px */

letter-spacing: 0.005em;

/* Light/Text Color/Title */

color: #11142D;
}


.shop{
  position: absolute;
  width: 39px;
  height: 19px;
  left: 94px;
  top: 50px;
  
  /* Body/Body 1 Semibold */
  
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  /* or 19px */
  
  letter-spacing: 0.005em;
  
  /* Light/Text Color/Title */
  
  color: #11142D;
  
}

.promo{
/* Promo */


position: absolute;
width: 50px;
height: 19px;
left: 165px;
top: 50px;

/* Body/Body 1 Semibold */

font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 120%;
/* or 19px */

letter-spacing: 0.005em;

/* Light/Text Color/Title */

color: #11142D;

}

.about{
/* About */

font-family: 'Roboto', sans-serif;
position: absolute;
width: 47px;
height: 19px;
left: 247px;
top: 50px;

/* Body/Body 1 Semibold */


font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 120%;
/* or 19px */

letter-spacing: 0.005em;

/* Light/Text Color/Title */

color: #11142D;
}

.blogs{
/* Blog */


position: absolute;
width: 33px;
height: 19px;
left: 326px;
top: 50px;

/* Body/Body 1 Semibold */

font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 120%;
/* or 19px */

letter-spacing: 0.005em;

/* Light/Text Color/Title */

color: #11142D;

}

.badgecon{
  /* Container */


position: absolute;
width: 24px;
height: 24px;
left: 1182px;
top: 120px;

}

.badgeText{
  position: absolute;
width: 10px;
height: 19px;
left: 1189px;
top: 124px;

/* Body/Body 1 Semibold */
font-family: 'Roboto', sans-serif;
font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 120%;
/* or 19px */

letter-spacing: 0.005em;

/* Light/Text Link Color/White */

color: #FFFFFF;
}

.cart{
  position: absolute;
  left: 12.5%;
  right: 11.14%;
  top: 12.5%;
  bottom: 8.33%;
  
}

.heart{
  position: absolute;
  left: 7.32%;
  right: 7.34%;
  top: 11.84%;
  bottom: 10.12%;
  
}

.not{
  position: absolute;
  left: 12.5%;
  right: 12.5%;
  top: 8.33%;
  bottom: 8.34%;
}

.group
{
  position: absolute;
left: 11.75%;
right: 11.75%;
top: 8.33%;
bottom: 12.5%;
}

.usertop{
  position: absolute;
  left: 29.17%;
  right: 29.17%;
  top: 8.33%;
  bottom: 50%;
  
}

.user{
  position: absolute;
  left: 11.75%;
  right: 11.75%;
  top: 54.1%;
  bottom: 12.5%;
}

.consearch{
  position: absolute;
width: 573px;
height: 56px;
left: 451px;
top: 30px;

/* Light/Base Color/White */

background: #FFFFFF;
border-radius: 4px;
}



.searchlogo{
position: absolute;
width: 18px;
height: 18px;
left: 520px;
top: 18px;
}

.search{
  position: absolute;
width: 166px;
height: 20px;
left: 40px;
top: 18px;

/* Body/Body 1 Regular */
font-family: 'Roboto', sans-serif;
font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 125%;
/* identical to box height, or 20px */

letter-spacing: 0.005em;

/* Light/Text Color/Body 2 */

color: #9A9AB0;

}
.hero{
  position: absolute;

  height: 640px;
  left: 0px;
  top: 105px;
  
}
.headtext{
  position: absolute;
  width: 593px;
  height: 154px;
  left: 728px;
  top: 240px;
  
  /* Display/Display Bold */
  
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 120%;
  /* or 77px */
  
  letter-spacing: 0.003em;
  
  /* Light/Text Color/Title */
  
  color: #11142D;
}
.desc{
  position: absolute;
  width: 612px;
  height: 40px;
  left: 728px;
  top: 526px;
  
  /* Body/Body 1 Regular */
  
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  /* or 20px */
  
  letter-spacing: 0.005em;
  
  /* Light/Text Color/Body 1 */
  
  color: #515151;
}
.button{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 18px 24px;
  gap: 10px;
  
  position: absolute;
  width: 156px;
  height: 56px;
  left: 728px;
  top: 622px;
  
  /* Light/Secondary Color/50% */
  
  background: #F86338;
  border-radius: 8px;
}
.click{
  width: 108px;
  height: 19px;
  
  /* Menu/Menu 1 Bold */
  
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  /* or 19px */
  
  text-align: center;
  letter-spacing: 0.005em;
  
  /* Light/Text Link Color/White */
  
  color: #FFFFFF;
  
  
  /* Inside auto layout */
  
  flex: none;
  order: 0;
  flex-grow: 0;
}

.mask{
  position: absolute;
  width: 1440px;
  height: 640px;
  left: 0px;
  top: 100px;
  
}

.el1{
  position: absolute;
  width: 9px;
  height: 9px;
  left: 119px;
  top: 569px;
  
  /* Light/Secondary Color/50% */
  

}

.el2{
  position: absolute;
width: 10px;
height: 10px;
left: 1063px;
top: 703px;

/* Light/Secondary Color/50% */


}

.el3{
  position: absolute;
width: 18px;
height: 18px;
left: 1214px;
top: 492px;

/* Light/Secondary Color/50% */


}

.el4{
  position: absolute;
width: 39px;
height: 39px;
left: 579px;
top: 89px;

/* Light/Secondary Color/50% */


}

.el5{
  position: absolute;
width: 59.48px;
height: 59.48px;
left: 648.89px;
top: 600px;

/* Light/Primary Color/50% */



}

.el6{
  position: absolute;
width: 56.34px;
height: 56.34px;
left: 1157.88px;
top: 80px;

/* Light/Primary Color/50% */



}

.el7{
  position: absolute;
width: 100px;
height: 100px;
left: 100px;
top: 40.92px;

/* Light/Primary Color/50% */



}

.Premium{
  position: absolute;
  width: 1232px;
  height: 1000px;
  left: 104px;
  top: 865px;
  
  
}

.PremiumHead{
  position: absolute;
  width: 561px;
  height: 58px;
  left: 440px;
  top: -800px;
  
  /* Heading/H2 Bold */
  
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  /* identical to box height, or 58px */
  
  letter-spacing: 0.005em;
  
  /* Light/Text Color/Title */
  
  color: #11142D;
}

.premiumcat{
  position: absolute;
width: 1180px;
height: 29px;
left: 130px;
top: 1079px;


}

.T{
  position: absolute;
  width: 82px;
  height: 29px;
  left: 880px;
  top: -1750px;
  
  /* Heading/H5 Bold */
  
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  /* identical to box height, or 29px */
  
  letter-spacing: 0.005em;
  
  /* Light/Text Color/Body 2 */
  
  color: #9A9AB0;
  
}

.skirt{
  position: absolute;
  width: 55px;
  height: 29px;
  left: 770px;
  top: -1750px;
  
  /* Heading/H5 Bold */
  
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  /* identical to box height, or 29px */
  
  letter-spacing: 0.005em;
  
  /* Light/Text Color/Body 2 */
  
  color: #9A9AB0;
}

.short{
  position: absolute;
  width: 64px;
  height: 29px;
  left: 640px;
  top: -1750px;
  
  /* Heading/H5 Bold */
  
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  /* identical to box height, or 29px */
  
  letter-spacing: 0.005em;
  
  /* Light/Text Color/Body 2 */
  
  color: #9A9AB0;
  
}

.playsuit{
  position: absolute;
  width: 93px;
  height: 29px;
  left: 510px;
  top: -1750px;
  
  /* Heading/H5 Bold */
  
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  /* identical to box height, or 29px */
  
  letter-spacing: 0.005em;
  
  /* Light/Text Color/Body 2 */
  
  color: #9A9AB0;
}

.dressed{
  position: absolute;
  width: 97px;
  height: 29px;
  left: 380px;
  top: -1750px;
  
  /* Heading/H5 Bold */
  
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  /* identical to box height, or 29px */
  
  letter-spacing: 0.005em;
  
  /* Light/Text Color/Body 2 */
  
  color: #9A9AB0;
  
}

.products{

  position: absolute;
  width: 142px;
  height: 29px;
  left: 0px;
  top: -1750px;
  
  /* Heading/H5 Bold */
  
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  /* identical to box height, or 29px */
  
  letter-spacing: 0.005em;
  
  /* Light/Secondary Color/50% */
  
  color: #F86338;
  
}

.coats{
  position: absolute;
  width: 50vh;
  height: 29px;
  left: 150px;
  top: -1750px;
  
  /* Heading/H5 Bold */
  
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  /* identical to box height, or 29px */
  
  letter-spacing: 0.005em;
  
  /* Light/Text Color/Body 2 */
  
  color: #9A9AB0;
  
}

.Premiumbut{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 18px 24px;
  gap: 10px;
  
  position: absolute;
  width: 156px;
  height: 56px;
  top: 130vh;
  left: 90vh;
  
  /* Light/Secondary Color/50% */
  
  background: #F86338;
  border-radius: 8px;
}

.clickbut{
  width: 108px;
  height: 19px;
  
  /* Menu/Menu 1 Bold */
  
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  /* or 19px */
  
  text-align: center;
  letter-spacing: 0.005em;
  
  /* Light/Text Link Color/White */
  
  color: #FFFFFF;
  
  
  /* Inside auto layout */
  
  flex: none;
  order: 0;
  flex-grow: 0;
}

.Premiumcard{
  position: absolute;
width: 400px;
height: 640px;
}

.cardbtn{
  position: absolute;
width: 40px;
height: 40px;
top: 78vh;
left: 6vh
}

/* .grp18{
  position: absolute;
left: 20%;
right: 20%;
top: 20%;
bottom: 20%;


} */

.arright{
  position: absolute;
  left: 2vh;

}

.arrow{
position: absolute;
top: 82vh;
left: 6vh;

}

.rectangle{
  position: absolute;
left: 20%;
right: 20%;
top: 20%;
bottom: 20%;

border-radius: 4px;
}

.roundcon{
  position: absolute;
left: 0%;
right: 0%;

bottom: 0%;

/* Light/Secondary Color/50% */

background: #F86338;
border-radius: 28px;
}

.cardhead{
  position: absolute;
width: 319px;
height: 58px;


/* Heading/H2 Bold */

font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 120%;
top: 65vh;
left: 5vw;
/* identical to box height, or 58px */

letter-spacing: 0.005em;

/* Light/Text Color/Title */

color: #11142D;

}

.cardtop{
  
position: absolute;
width: 121px;
height: 19px;
top: 60vh;
left: 6vh;


/* Heading/H6 Bold */

font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 120%;
/* or 19px */

letter-spacing: 0.005em;

/* Light/Text Color/Body 2 */

color: #9A9AB0;
}

.imgholder{
  position: absolute;
width: 400px;
height: 640px;



/* Light/System Background/Primary */

background-color: #FFFFFF;
}

.Flash{
  position: absolute;
width: 2044px;
height: 960px;
left: -312px;
top: 2966px;
}

.flashcon{
  position: absolute;
width: 1442px;
height: 960px;
left: -1px;
top: 2966px;

/* Light/System Background/Primary */

background: #FFFFFF;
}

.flashHead{
  position: absolute;
width: 551px;
height: 58px;
top:20vh;
left:55vw;

/* Heading/H2 Bold */

font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 120%;
/* identical to box height, or 58px */

text-align: center;
letter-spacing: 0.005em;

/* Light/Text Color/Title */

color: #11142D;
}

.flashdesc{
  position: absolute;
width: 732px;
height: 40px;
top: 35vh;
left: 50vw;

/* Body/Body 1 Regular */

font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 125%;
/* or 20px */

text-align: center;
letter-spacing: 0.005em;

/* Light/Text Color/Body 1 */

color: #515151;
}

.item{
  position: absolute;
  width: 400px;
  height:451px;
  
  /* Light/Fills Color/Image Placeholder */
  
  background: #E2E2EA;
  border-radius: 6px;
}

.seller{
  position: absolute;
  height: 29px;
  top: 50vh;
  left: 18vh;

  
  /* Heading/H5 Bold */
  
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  /* identical to box height, or 29px */
  
  text-align: center;
  letter-spacing: 0.005em;
  
  /* Light/Text Color/Title */
  
  color: #11142D;
}

.line{
  position: absolute;
width: 47px;
height: 0px;

}

.price1{
  position: absolute;
height: 20px;
top: 60vh;
  left: 32vh;


/* Body/Body 1 Semibold */

font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 120%;
/* identical to box height, or 19px */

text-align: right;
letter-spacing: 0.005em;

/* Light/Text Color/Body 2 */

color: #9A9AB0;
}

.price2{
  position: absolute;
  top: 60vh;
  left: 25vh;

/* Body/Body 1 Semibold */

font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 120%;
/* identical to box height, or 19px */

text-align: right;
letter-spacing: 0.005em;

/* Light/Secondary Color/50% */

color: #F86338;
}

.tag{
  position: absolute;
  left:-1vh;
  top:-1vh;

}

.label{
  position: absolute;
height: 19px;
top: 3vh;
left: 3vh;


/* Body/Body 2 Semibold */

font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 130%;
/* identical to box height, or 18px */

text-align: center;
letter-spacing: 0.008em;

/* Light/Secondary Color/50% */

color: #F86338;
}

.back{
  position: absolute;
  width: 6.5vh;
  height: 3vh;
  top: 3vh;
  left:2.5vh;
/* Light/Primary Color/10% */

background-color: #F6F7FB;
border-radius: 6px;
}

.flashprod{
  position: absolute;
height: 19px;
top:55vh;
left: 25vh;

/* Body/Body 2 Regular */

font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 130%;
/* identical to box height, or 18px */

text-align: center;
letter-spacing: 0.008em;

/* Light/Text Color/Body 2 */

color: #9A9AB0;
}

.read{
  position: absolute;
width: 120px;
height: 19px;
top: 100vh;
left: 120vh;
/* Menu/Menu 1 Bold */

font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 120%;
/* or 19px */

letter-spacing: 0.005em;

/* Light/Secondary Color/50% */

color: #F86338;

}

.imgholder2{
  position: absolute;
width: 607px;
height: 720px;


/* Light/Fills Color/Image Placeholder */

background: #E2E2EA;
border-radius: 8px;
}

.storydesc{
  position: absolute;
width: 504px;
height: 200px;
margin-left:100vh;
margin-top: 35vh;

/* Body/Body 1 Regular */

font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 125%;
/* or 20px */

letter-spacing: 0.005em;

/* Light/Text Color/Body 2 */

color: #9A9AB0;
}

.storyhead{
  position: absolute;
width: 300px;
height: 116px;
margin-left: 100vh;
margin-top: 10vh;

/* Heading/H2 Bold */

font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 120%;
/* or 58px */

letter-spacing: 0.005em;

/* Light/Text Color/Title */

color: #11142D;

}

.left{
  transform: rotate(180deg);
}

.post{
  position: absolute;
  width: 608px;
  height: 639px;
}

.imgholder4{
  position: absolute;
  width: 608px;
  height: 416px;

  
  /* Light/Fills Color/Image Placeholder */
  
  background: #E2E2EA;
}

.posthead{
  position: absolute;
  width: 608px;
  height: 37px;

  
  /* Heading/H4 Bold */
  
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 31px;
  line-height: 120%;
  /* or 37px */
  
  letter-spacing: 0.005em;
  
  /* Light/Text Color/Title */
  
  color: #11142D;
  
}

.info{
  position: absolute;
  width: 159px;
  height: 19px;
}

.date{
  position: absolute;
  width: 10vh;
  height: 19px;
  
  /* Menu/Menu 1 Bold */
  
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  /* or 19px */
  
  letter-spacing: 0.005em;
  
  /* Light/Text Color/Body 1 */
  
  color: #515151;
  
}

.dot{
  position: absolute;
  width: 4px;
  height: 4px;
  /* Light/Text Color/Body 1 */
  
  background: #515151;
}

.style{
  position: absolute;
  width: 90px;
  height: 19px;
  
  /* Menu/Menu 1 Bold */
  
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  /* or 19px */
  
  letter-spacing: 0.005em;
  
  /* Light/Text Color/Body 1 */
  
  color: #515151;
}

.postdesc{
  position: absolute;
  width: 608px;
  height: 60px;

  
  /* Body/Body 1 Regular */
  
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  /* or 20px */
  
  letter-spacing: 0.005em;
  
  /* Light/Text Color/Body 2 */
  
  color: #9A9AB0;
}

.link{
  position: absolute;
  width: 103px;
  height: 19px;
}

.linktext{
  position: absolute;
  width: 103px;
  height: 19px;
  
  /* Heading/H6 Bold */
  
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  /* or 19px */
  
  letter-spacing: 0.005em;
  
  /* Light/Secondary Color/50% */
  
  color: #F86338;
  
}

.bloghead{
  position: absolute;
  width: 501px;
  height: 116px;
  
  
  /* Heading/H2 Bold */
  
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  /* or 58px */
  
  letter-spacing: 0.005em;
  
  /* Light/Text Color/Title */
  
  color: #1A242D;
  
}

.see{
  position: absolute;
  width: 111px;
  height: 29px;

  
  /* Heading/H5 Bold */
  
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  /* identical to box height, or 29px */
  
  text-align: right;
  letter-spacing: 0.005em;
  
  /* Light/Secondary Color/50% */
  
  color: #F86338;
  
}

.achieve{
  position: absolute;
width: 1232px;
height: 226px;
}

.achievehead{
  position: absolute;
width: 479px;
height: 58px;
top: 25vh;
left: 70vh;

/* Heading/H2 Bold */

font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 120%;
/* identical to box height, or 58px */

text-align: center;
letter-spacing: 0.005em;

/* Light/Text Color/Title */

color: #11142D;
}

.alogo{
  position: absolute;
  width: 12vh;
  height: 6vh;
}

.testcard{
  position: absolute;
  width: 1168px;
  height: 436px;
}
.cardcon{
  position: absolute;
  width: 1168px;
  height: 436px;
  
  /* Light/System Background/Primary */
  
  background: #FFFFFF;

}

.testhead{
  position: absolute;
  width: 55vh;
  height: 50vh;
  left: 70vh;
  top:10vh;
  
  /* Heading/H2 Bold */
  
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  /* identical to box height, or 58px */
  
  letter-spacing: 0.005em;
  
  /* Light/Secondary Color/50% */
  
  color: #F86338;
  
}

.testdesc{
  position: absolute;
  width: 70vh;
  height: 8vh;
  left:70vh;
  top: 25vh;

  /* Body/Body 1 Regular */
  
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  /* or 20px */
  
  letter-spacing: 0.005em;
  
  /* Light/Text Color/Body 2 */
  
  color: #9A9AB0;
}

.testname{
  position: absolute;
  width: 50vh;
  height: 7vh;
  left: 70vh;
  top:42vh;

  
  /* Heading/H5 Bold */
  
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  /* identical to box height, or 29px */
  
  letter-spacing: 0.005em;
  
  /* Light/Text Color/Title */
  
  color: #11142D;
  
}

.testnamedesc{
  position: absolute;
  width: 50vh;
  height: 19vh;
  left: 70vh;
  top: 50vh;

  
  /* Body/Body 1 Semibold */
  
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  /* or 19px */
  
  letter-spacing: 0.005em;
  
  /* Light/Text Color/Body 1 */
  
  color: #515151;
  
}

.imgholder3{
  position: absolute;
  width: 320px;
  height: 320px;
  top: 10vh;
  left: 10vh;
  
  /* Light/Fills Color/Image Placeholder */
  
  background: #E2E2EA;
  border-radius: 8px;
}

.newshead{
  position: absolute;
  width: 797px;
  height: 58px;
  
  
  /* Heading/H2 Bold */
  
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  /* identical to box height, or 58px */
  
  text-align: center;
  letter-spacing: 0.005em;
  
  /* Light/Text Color/Title */
  
  color: #11142D;
  
}

.newsdesc{
  position: absolute;
  width: 608px;
  height: 40px;

  
  /* Body/Body 1 Regular */
  
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  /* or 20px */
  
  text-align: center;
  letter-spacing: 0.005em;
  
  /* Light/Text Color/Body 2 */
  
  color: #9A9AB0;
  
}

.newstext{

  position: absolute;
  width: 153px;
  height: 20px;
 
  /* Body/Body 1 Regular */
  
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  /* identical to box height, or 20px */
  
  letter-spacing: 0.005em;
  
  /* Light/Text Color/Body 2 */
  
  color: #9A9AB0;
}

.foothead{
  position: absolute;
  width: 249px;
  height: 77px;

  
  /* Display/Display Bold */
  
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 550;
  font-size: 64px;
  line-height: 120%;
  /* identical to box height, or 77px */
  
  letter-spacing: 0.003em;
  
  /* Light/Secondary Color/50% */
  
  color: #F86338;
}


.terms{
  position: absolute;
  width: 167px;
  height: 19px;

  
  /* Heading/H6 Bold */
  
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  /* or 19px */
  
  letter-spacing: 0.005em;
  
  /* Light/Text Color/Title */
  
  color: #11142D;
}

.policy{
  position: absolute;
  width: 132px;
  height: 19px;

  /* Heading/H6 Bold */
  
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  /* or 19px */
  
  letter-spacing: 0.005em;
  
  /* Light/Text Color/Title */
  
  color: #11142D;
}

.studio{
  position: absolute;
  width: 392px;
  height: 19px;

  
  /* Heading/H6 Bold */
  
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  /* or 19px */
  
  letter-spacing: 0.005em;
  
  /* Light/Text Color/Title */
  
  color: #11142D;
}

.shopbar{
  box-sizing: border-box;

position: absolute;
width: 296px;
height: 56px;

/* Light/Text Color/Title */

border: 1px solid #11142D;
border-radius: 4px;
}

.shoptext{
  position: absolute;
width: 124px;
height: 20px;


/* Body/Body 1 Regular */

font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 125%;
/* identical to box height, or 20px */

letter-spacing: 0.005em;

/* Light/Text Color/Body 2 */

color: #9A9AB0;
}

.pricetext{
  position: absolute;
  width: 60px;
  height: 29px;
  
  /* Heading/H5 Bold */
  
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  /* identical to box height, or 29px */
  
  letter-spacing: 0.005em;
  
  /* Light/Text Color/Title */
  
  color: #11142D;
}

.shopprice{
  position: absolute;
  width: 57px;
  height: 20px;
 
  /* Body/Body 1 Regular */
  
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  /* identical to box height, or 20px */
  
  text-align: right;
  letter-spacing: 0.005em;
  
  /* Light/Text Color/Title */
  
  color: #11142D;
  
}

.range{
  position: absolute;
  width: 46px;
  height: 20px;

  
  /* Body/Body 1 Regular */
  
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  /* identical to box height, or 20px */
  
  letter-spacing: 0.005em;
  
  /* Light/Text Color/Title */
  
  color: #11142D;
}

.Barprod{
  position: absolute;
width: 236px;
height: 19px;

/* Menu/Menu 1 Bold */

font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 120%;
/* or 19px */

letter-spacing: 0.005em;

/* Light/Text Color/Title */

color: #11142D;

}

.Barprodhead{
  position: absolute;
width: 227px;
height: 29px;

/* Heading/H5 Bold */

font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 120%;
/* identical to box height, or 29px */

letter-spacing: 0.005em;

/* Light/Text Color/Title */

color: #11142D;
}

.imgholder6{
  position: absolute;
  width: 80px;
  height: 80px;

  
  /* Light/Fills Color/Image Placeholder */
  
  background: #E2E2EA;
  border-radius: 8px;
}

.featurehead{
  position: absolute;
  width: 129px;
  height: 19px;
  
  /* Heading/H6 Bold */
  
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  /* or 19px */
  
  text-align: center;
  letter-spacing: 0.005em;
  
  /* Light/Text Color/Title */
  
  color: #11142D;
  
}

.featureprice{
  position: absolute;
  width: 33px;
  height: 18px;

  
  /* Body/Body 2 Semibold */
  
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  /* or 18px */
  
  letter-spacing: 0.008em;
  
  /* Light/Secondary Color/50% */
  
  color: #F86338;
}

.shopcardhead{
  position: absolute;
  height: 29px;

  
  /* Heading/H5 Bold */
  
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  /* identical to box height, or 29px */
  
  text-align: center;
  letter-spacing: 0.005em;
  
  /* Light/Text Color/Title */
  
  color: #11142D;
}

.shopsell{
  position: absolute;
  height: 19px;

  
  /* Body/Body 2 Regular */
  
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  /* identical to box height, or 18px */
  
  text-align: center;
  letter-spacing: 0.008em;
  
  /* Light/Text Color/Body 2 */
  
  color: #9A9AB0;
  
}

.shopcardprice{
  position: absolute;
  height: 20px;
  
  /* Body/Body 1 Semibold */
  
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  /* identical to box height, or 19px */
  
  text-align: right;
  letter-spacing: 0.005em;
  
  /* Light/Text Link Color/Orange */
  
  color: #F3692E;
  
}

.shopbutcard{
position: absolute;
width: 121px;
height: 56px;


/* Light/Secondary Color/50% */

background: #F86338;
border-radius: 8px;
}

.shopcardbuttext{
  width: 73px;
height: 19px;

/* Menu/Menu 1 Bold */

font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 120%;
/* or 19px */

text-align: center;
letter-spacing: 0.005em;

/* Light/Text Link Color/White */




/* Inside auto layout */

}