@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.Logo{
  position: absolute;
width: 152px;
height: 47px;
left: 94px;
top: 25px;

/* Heading/H3 Bold */

font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 39px;
line-height: 120%;
/* identical to box height, or 47px */

letter-spacing: 0.005em;

/* Light/Secondary Color/50% */

color: #F86338;
}
